#heading {
  text-align: center;
}

.game {
  background-color: #829356;
  color: #093145;
  width: 1230px;
  height: 1000px;
}

button#player {
  background-color: #efd469;
  height: 67px;
  width: 124px;
}

#player:hover {
  background-color: #C02F1D;
  color: white;
}

.rules {
  background-color: #0C374D;
  color: #fff;
  height: 1000px;
  text-align: justify;
  padding: 23px;
}
.rules h2 {
  color: #efd469;
}

.col-md-8 {
  margin-left: -15px;
  padding: 0;
}

#display {
  padding-top: 150px;
  padding-left: 175px;
}

#setup {
  padding-left: 300px;
  padding-top: 35px;
}

#player1-roll {
  padding-left: 500px;
  padding-top: 75px;
}

#player2-roll {
  padding-left: 500px;
  padding-top: 75px;
}
